:root{
    --spacing:10px;
    --blur:10px;
    --base: #ffc600;
}








body,html{
    margin:0;
    padding: 0;
    text-align: center;
    background: blueviolet;
    
}
h1{
    text-align: center;
    color:darkblue
}

input{
    width: 100px;
}
img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));

}
.h1{
    color: var(--base);
}